<div class="row-fluid">
  <div class="span12">
  	<div class="alert alert-info">
  		<h2><center>Welcome to <%=@user.first_name%>'s Profile</center></h2>
  	</div>

<div class="row-fluid">
	<div class="span6">
		<div class="alert alert-info">
			<div class="row-fluid">
				<div class="span6 pull-right">
					<%= image_tag(@user.avatar.url(:large), class: 'img-circle') %>  		
                </div>
                <div class="span6">
					<h4>Name : <%= @user.first_name%> <%= @user.last_name%></h4> 
					<h4>Email : <%= @user.email%></h4>	
					<h4>Company Name : <%= @user.company_name%></h4>
					<h4>Telephone : <%= @user.telephone%></h4>
					<h4>Fax : <%= @user.fax%></h4>
					<h4>Web : <%= @user.web%></h4>
					<h4>Billing Address : <%= @user.billing_address%></h4>
					<h4>Shipping Address : <%= @user.shipping_address%></h4>

					<hr>

					<h5>Sign In Count : <%= @user.sign_in_count%></h5>
					<h5>Current sign in at : <%=@user.current_sign_in_at%></h5>
					<h5>Last sign in at : <%=@user.last_sign_in_at%></h5>
					<h5>Current sign in ip : <%=@user.current_sign_in_ip%></h5>
					<h5>Last sign in ip : <%=@user.last_sign_in_ip%></h5>

					<hr>

					<% if current_user.has_role? :super_admin or current_user.has_role? :admin  %>
					<h5>User Role : <%=@user.roles_name%> 
                    <% unless @user.has_role? :super_admin %>
                    <button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#myModal">Change Role</button>

                    <div class="modal fade" id="myModal" role="dialog">
					    <div class="modal-dialog modal-lg">
					      <div class="modal-content">
					       <%= simple_form_for @user, :url => user_path(@user), :html => {:method => :put, :class => 'form-horizontal' } do |f| %>
					        <div class="modal-header">
					          <button type="button" class="close" data-dismiss="modal">&times;</button>
					          <h4 class="modal-title">Change <%=@user.first_name.capitalize%>'s Role</h4>
					        </div>
					        <div class="modal-body">
					          <%= f.input :role_ids, :collection => Role.where("name != ?", 'super_admin'), :as => :radio_buttons, :label_method => lambda {|t| t.name.titleize}, :label => false, :item_wrapper_class => 'inline col-md-2', checked: @user.role_ids.first %>
					        </div>
					        <div class="modal-footer">
					           <%= f.submit "Change Role", :class => "btn btn-sucess" %>
					          <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
					        </div>
					      </div>
					    </div>
					  </div>
					</div>

					<% end %>       
                    <% end %>
                    <% end %>
					        <hr>

					        <%= link_to 'Edit Profile', edit_user_registration_path, class: 'btn btn-success btn-sm'%>













          </div>
      </div>
  </div>
</div>
  </div>
  </div>
